:root {
  --main-font: "Inter", sans-serif;
  --accent-font: "PressStart2P", sans-serif;
  --title-weight: 700;
  --text-weight: 400;
  --text-color: #000000;
  --theme-bg: repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --border-color: #000000;
  --bg-color: #ffffff;
  --bottom-bg-color: #000000;
  --bottom-text: #ffffff;

  --heart-contur: #000000;
  --heart-spark: #ff0000;
  --heart-bg: #ffffff;
}
